#!/bin/bash

################################################################################
# Variables that control which benchmarks to run                               #
################################################################################

# Contains the directory in which the output will be saved
export output="/dfs/scratch0/caberger/output"

# Controls which systems to benchmark
export systems="emptyheaded"

# The list of datasets that should be used for the benchmark
export datasets="baidu california higgs flickr socLivejournal orkut cid-patents pokec twitter2010 wikipedia"

# A list of numbers of threads used for benchmarking
export num_threads="1 24 48"

################################################################################
# Variables that describe the system configuration                             #
################################################################################

# The home directory of EmptyHeaded
export EMPTY_HEADED_HOME="/afs/cs.stanford.edu/u/noetzli/SpaceGraph/bin"
